<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <title>For DAWN</title>
    <meta charset="UTF-8">
    <link REL="SHORTCUT ICON" HREF="{{settings.PROXY_PREFIX}}{{settings.STATIC_URL}}images/favicon.ico">
    <link rel="stylesheet" href="{{settings.PROXY_PREFIX}}{{settings.STATIC_URL}}assets/css/main.css" />
  </head>
  <body>
    <section id="one" class="main special">
      <div class="container">
        <span class="image fit primary"></span>
        <div class="content">
          <header class="major">
            <h2>{{letter.letter_title}}</h2>
            <p>{{letter.letter_time}}</p>
          </header>
          {% for i in text %}
            <p>{{i}}</p>
          {% endfor %}
        </div>
      </div>
    </section>
  </body>
</html>
